extends layout

block js
  // Drawphone JS
  script(src='js/screen.js')
  script(src='js/mainMenu.js')
  script(src='js/joinMenu.js')
  script(src='js/newMenu.js')
  script(src='js/lobby.js')
  script(src='js/game.js')
  script(src='js/results.js')
  script(src='js/waiting.js')
  script(src='js/replace.js')
  script(src='js/userList.js')
  script(src='js/client.js')
  script(src='js/thirdparty/dom-to-image.min.js')
  script(src='js/thirdparty/FileSaver.min.js')

block content
  div
    span.glyphicon.glyphicon-pencil(aria-hidden='true',style="padding-right:2px;")
    span.glyphicon.glyphicon-earphone(aria-hidden='true',style="padding-left:2px;")
  #archive
    h1 Your Previous Results
    p View the results saved on this device
    hr
    #archive-content.btn-group-vertical(role="group" aria-label="...")
    br
  #result.hidden
      h1#title Loading archive...
      p#subtitle This may take a second
      hr
      div#result-content
      br
      #result-others.btn-group-vertical(role='group', aria-label='...')
      br
      br
      .btn-toolbar#result-buttons
        button#result-done.btn.btn-default.btn-lg(type='button') Done
        button#result-save.btn.btn-default.btn-lg(type='button', disabled='') 保存为图片(暂时不好用)
  br
  a.btn.btn-default.btn-lg(type='button', href="/") Exit Archive
